
      <form action="http://127.0.0.1:8000/franquias/" method="POST" class="ui form" enctype="multipart/form-data">
        

        <div class="field">
          <label>nome</label>
          <input ng-model="nome" type="text" name="nome" placeholder="Nome da franquia">
        </div>
        <div class="field">
          <label>descricao</label>
          <input ng-model="descricao" type="text" name="descricao" placeholder="descricao">
        </div>
        <div class="field">
            <label>slogan</label>
            <input ng-model="slogan" type="text" name="slogan" placeholder="slogan">
        </div>
        <div class="field">
                <label>fundacao</label>
                <input ng-model="data_fundacao" type="datetime-local" name="data_fundacao" placeholder="fundacao">
            </div>
        <div class="field">
            <label>site</label>
            <input ng-model="site" type="url" name="site" placeholder="site">
        </div>

            <button class="ui button" type="submit">Submit</button>
    </form>
  