
      <form action="http://127.0.0.1:8000/usuarios/" method="POST" class="ui form" enctype="multipart/form-data">
        
        <div class="field">
            <label>Nome de usuario</label>
            <input ng-model="nome" type="text" name="nome" >
        </div>
        <div class="field">
          <label>senha</label>
          <input ng-model="senha" type="password" name="senha" placeholder="senha">
        </div>


            <button class="ui button" type="submit">Submit</button>
    </form>