
  

    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3>Franquias</h3>
            <p>Um site de franquais</p>
          </div>
          <div class="column">
            <h3>Lucas Daniel Pohl Tomko</h3>
            <p>
               <a href="https://github.com/lucas-pohl-tomko/">https://github.com/lucas-pohl-tomko/</a> 
            </p>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
    </div>
  
    <div class="ui hidden divider"></div>
    
    <div class="ui vertical stripe segment">

      <div class="ui text container">
        <h3 class="ui header">Organize sua franquias</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel temporibus assumenda nobis dolores asperiores sunt soluta officia ex quaerat, corrupti magnam iste dicta architecto quae voluptatem exercitationem! Nulla, obcaecati eligendi?</p>

        <h4 class="ui horizontal header divider">
        </h4>
        <h3 class="ui header">Franquias Franquias</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vero excepturi cupiditate odio officia perspiciatis cumque reiciendis impedit dolor nihil aliquam soluta, ipsam sed sint consequatur quidem laboriosam nobis iusto.</p>
      </div>
    </div>
