<div class="content" ng-controller="LoginController">
    <form action="/"  class="ui form" enctype="multipart/form-data">
        
        <div class="field">
        <label>Nome</label>
        <input ng-model="nomeusuario" id="nomeusuario" type="text" placeholder="First Name">
        </div>
        <div class="field">
        <label>Last Name</label>
        <input ng-model="senhausuario" id="senhausuario" type="text" placeholder="Last Name">
        </div>
    
            <button class="ui button" type="button" ng-click="submit()">Submit</button>
    </form> 
</div>